<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ArtifieParent.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9D144411465615D92822E6D0525D4809B447669E</string>
				<key>dateExpires</key>
				<string>30/03/21</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GPUImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>LinearProgressBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>LinearProgressView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SVGKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SearchTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyTimer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D144411465615D92822E6D0525D4809B447669E</string>
						<key>dateExpires</key>
						<string>30/03/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>22B7MR6T82</string>
						<key>name</key>
						<string>Mentric Services Private Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>22B7MR6T82.com.ai.artifieParent</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>22B7MR6T82</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>ArtifieParent.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a9383c42-f84c-4e40-a8db-751e9aba8aeb</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.ai.artifieParent</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>22B7MR6T82</string>
				<key>name</key>
				<string>Mentric Services Private Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
